In [149]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from math import sqrt, pow
import numpy as np

In [150]:
coords = [
    {'label' : 'A1', 'x' : 2, 'y' : 10},
    {'label' : 'A2', 'x' : 2, 'y' : 5},
    {'label' : 'A3', 'x' : 8, 'y' : 4},
    {'label' : 'B1', 'x' : 5, 'y' : 8},
    {'label' : 'B2', 'x' : 7, 'y' : 5},
    {'label' : 'B3', 'x' : 6, 'y' : 4},
    {'label' : 'C1', 'x' : 1, 'y' : 2},
    {'label' : 'C2', 'x' : 4, 'y' : 9},
]

In [151]:
# Calculate the distance between two points
def distance(p1, p2):
    return sqrt(pow(p1['x'] - p2['x'], 2) + pow(p1['y'] - p2['y'], 2))

In [152]:
# Calculate Distance Matrix
df = pd.DataFrame(coords)
df['label'] = df['label'].astype('category')
df.set_index('label', inplace=True)

# remove the index name
df.index.name = None

# Calculate the distance between each point display only lower triangle
distances = pd.DataFrame([[distance(df.loc[i], df.loc[j]) for i in df.index] for j in df.index], index=df.index, columns=df.index)
distances.where(np.tril(np.ones(distances.shape)).astype(bool), inplace=True)
# distances.fillna(0, inplace=True)
distances = distances.round(2)

# Display NaN as empty string
display_distances = distances.astype(object).where(pd.notnull(distances), '')

display_distances

      A1    A2    A3    B1    B2    B3    C1   C2
A1   0.0
A2   5.0   0.0
A3  8.49  6.08   0.0
B1  3.61  4.24   5.0   0.0
B2  7.07   5.0  1.41  3.61   0.0
B3  7.21  4.12   2.0  4.12  1.41   0.0
C1  8.06  3.16  7.28  7.21  6.71  5.39   0.0
C2  2.24  4.47   6.4  1.41   5.0  5.39  7.62  0.0

In [153]:
# Find minimum distance
min_distance = distances[distances > 0].min().min()
print(f'Minimum distance: {min_distance}')

# Find the points with the minimum distance
min_points = distances[distances == min_distance].stack().index.tolist()[0]
print(f'Points with minimum distance: {min_points}')
# Sort Alphabetically
min_points = sorted(min_points)

combined_points = ', '.join(min_points)

# Calculate distance between the combined points and the rest of the points by picking the minimum distance not 0
distances[combined_points] = distances[min_points].min(axis=1)
distances.loc[combined_points] = distances.loc[min_points].min(axis=0)
distances.drop(min_points, inplace=True)
distances.drop(min_points, axis=1, inplace=True)

# Rename the combined points
distances.rename(columns={combined_points : combined_points}, index={combined_points : combined_points}, inplace=True)

# Sort the index and columns alphabetically
distances.sort_index(inplace=True)
distances.sort_index(axis=1, inplace=True)

# Display NaN as empty string
distances.where(np.tril(np.ones(distances.shape)).astype(bool), inplace=True)
display_distances = distances.astype(object).where(pd.notnull(distances), '')

display_distances

Minimum distance: 1.41
Points with minimum distance: ('B2', 'A3')

          A1    A2 A3, B2    B1    B3    C1   C2
A1       0.0
A2       5.0   0.0
A3, B2  7.07   5.0    0.0
B1      3.61  4.24    5.0   0.0
B3      7.21  4.12   1.41  4.12   0.0
C1      8.06  3.16   6.71  7.21  5.39   0.0
C2      2.24  4.47    5.0  1.41  5.39  7.62  0.0

In [154]:
# Find minimum distance
min_distance = distances[distances > 0].min().min()
print(f'Minimum distance: {min_distance}')

# Find the points with the minimum distance
min_points = distances[distances == min_distance].stack().index.tolist()[0]
print(f'Points with minimum distance: {min_points}')
# Sort Alphabetically
min_points = sorted(min_points)

combined_points = ', '.join(min_points)

# Calculate distance between the combined points and the rest of the points by picking the minimum distance not 0
distances[combined_points] = distances[min_points].min(axis=1)
distances.loc[combined_points] = distances.loc[min_points].min(axis=0)
distances.drop(min_points, inplace=True)
distances.drop(min_points, axis=1, inplace=True)

# Rename the combined points
distances.rename(columns={combined_points : combined_points}, index={combined_points : combined_points}, inplace=True)

# Sort the index and columns alphabetically
distances.sort_index(inplace=True)
distances.sort_index(axis=1, inplace=True)

# Display NaN as empty string
distances.where(np.tril(np.ones(distances.shape)).astype(bool), inplace=True)
display_distances = distances.astype(object).where(pd.notnull(distances), '')

display_distances

Minimum distance: 1.41
Points with minimum distance: ('B3', 'A3, B2')

              A1    A2 A3, B2, B3    B1    C1   C2
A1           0.0
A2           5.0   0.0
A3, B2, B3  7.07  4.12        0.0
B1          3.61  4.24        5.0   0.0
C1          8.06  3.16       5.39  7.21   0.0
C2          2.24  4.47        5.0  1.41  7.62  0.0

In [155]:
# Find minimum distance
min_distance = distances[distances > 0].min().min()
print(f'Minimum distance: {min_distance}')

# Find the points with the minimum distance
min_points = distances[distances == min_distance].stack().index.tolist()[0]
print(f'Points with minimum distance: {min_points}')
# Sort Alphabetically
min_points = sorted(min_points)

combined_points = ', '.join(min_points)

# Calculate distance between the combined points and the rest of the points by picking the minimum distance not 0
distances[combined_points] = distances[min_points].min(axis=1)
distances.loc[combined_points] = distances.loc[min_points].min(axis=0)
distances.drop(min_points, inplace=True)
distances.drop(min_points, axis=1, inplace=True)

# Rename the combined points
distances.rename(columns={combined_points : combined_points}, index={combined_points : combined_points}, inplace=True)

# Sort the index and columns alphabetically
distances.sort_index(inplace=True)
distances.sort_index(axis=1, inplace=True)

# Display NaN as empty string
distances.where(np.tril(np.ones(distances.shape)).astype(bool), inplace=True)
display_distances = distances.astype(object).where(pd.notnull(distances), '')

display_distances

Minimum distance: 1.41
Points with minimum distance: ('C2', 'B1')

              A1    A2 A3, B2, B3 B1, C2   C1
A1           0.0
A2           5.0   0.0
A3, B2, B3  7.07  4.12        0.0
B1, C2      2.24  4.24        5.0    0.0
C1          8.06  3.16       5.39   7.21  0.0

In [156]:
# Find minimum distance
min_distance = distances[distances > 0].min().min()
print(f'Minimum distance: {min_distance}')

# Find the points with the minimum distance
min_points = distances[distances == min_distance].stack().index.tolist()[0]
print(f'Points with minimum distance: {min_points}')
# Sort Alphabetically
min_points = sorted(min_points)

combined_points = ', '.join(min_points)

# Calculate distance between the combined points and the rest of the points by picking the minimum distance not 0
distances[combined_points] = distances[min_points].min(axis=1)
distances.loc[combined_points] = distances.loc[min_points].min(axis=0)
distances.drop(min_points, inplace=True)
distances.drop(min_points, axis=1, inplace=True)

# Rename the combined points
distances.rename(columns={combined_points : combined_points}, index={combined_points : combined_points}, inplace=True)

# Sort the index and columns alphabetically
distances.sort_index(inplace=True)
distances.sort_index(axis=1, inplace=True)

# Display NaN as empty string
distances.where(np.tril(np.ones(distances.shape)).astype(bool), inplace=True)
display_distances = distances.astype(object).where(pd.notnull(distances), '')

display_distances

Minimum distance: 2.24
Points with minimum distance: ('B1, C2', 'A1')

           A1, B1, C2    A2 A3, B2, B3   C1
A1, B1, C2        0.0
A2                5.0   0.0
A3, B2, B3       7.07  4.12        0.0
C1               7.21  3.16       5.39  0.0

In [157]:
# Find minimum distance
min_distance = distances[distances > 0].min().min()
print(f'Minimum distance: {min_distance}')

# Find the points with the minimum distance
min_points = distances[distances == min_distance].stack().index.tolist()[0]
print(f'Points with minimum distance: {min_points}')
# Sort Alphabetically
min_points = sorted(min_points)

combined_points = ', '.join(min_points)

# Calculate distance between the combined points and the rest of the points by picking the minimum distance not 0
distances[combined_points] = distances[min_points].min(axis=1)
distances.loc[combined_points] = distances.loc[min_points].min(axis=0)
distances.drop(min_points, inplace=True)
distances.drop(min_points, axis=1, inplace=True)

# Rename the combined points
distances.rename(columns={combined_points : combined_points}, index={combined_points : combined_points}, inplace=True)

# Sort the index and columns alphabetically
distances.sort_index(inplace=True)
distances.sort_index(axis=1, inplace=True)

# Display NaN as empty string
distances.where(np.tril(np.ones(distances.shape)).astype(bool), inplace=True)
display_distances = distances.astype(object).where(pd.notnull(distances), '')

display_distances

Minimum distance: 3.16
Points with minimum distance: ('C1', 'A2')

           A1, B1, C2 A2, C1 A3, B2, B3
A1, B1, C2        0.0
A2, C1            5.0    0.0
A3, B2, B3       7.07   4.12        0.0

In [158]:
# Find minimum distance
min_distance = distances[distances > 0].min().min()
print(f'Minimum distance: {min_distance}')

# Find the points with the minimum distance
min_points = distances[distances == min_distance].stack().index.tolist()[0]
print(f'Points with minimum distance: {min_points}')
# Sort Alphabetically
min_points = sorted(min_points)

combined_points = ', '.join(min_points)

# Calculate distance between the combined points and the rest of the points by picking the minimum distance not 0
distances[combined_points] = distances[min_points].min(axis=1)
distances.loc[combined_points] = distances.loc[min_points].min(axis=0)
distances.drop(min_points, inplace=True)
distances.drop(min_points, axis=1, inplace=True)

# Rename the combined points
distances.rename(columns={combined_points : combined_points}, index={combined_points : combined_points}, inplace=True)

# Sort the index and columns alphabetically
distances.sort_index(inplace=True)
distances.sort_index(axis=1, inplace=True)

# Display NaN as empty string
distances.where(np.tril(np.ones(distances.shape)).astype(bool), inplace=True)
display_distances = distances.astype(object).where(pd.notnull(distances), '')

display_distances

Minimum distance: 4.12
Points with minimum distance: ('A3, B2, B3', 'A2, C1')

                   A1, B1, C2 A2, C1, A3, B2, B3
A1, B1, C2                0.0
A2, C1, A3, B2, B3        5.0                0.0